name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version:
          - "1.24"

    container:
      image: golang:${{ matrix.go-version }}

    steps:
      - uses: actions/checkout@v6

      - name: Workaround Git Security Warning
        run: |
          # Workaround a bug in github actions:
          # https://github.com/actions/runner-images/issues/6775.
          git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - name: Generate
        run: |
          # needed for running `tar -xJv` for installing shellcheck
          apt-get update
          apt-get install -y xz-utils
          
          make generate
          git status
          git diff
          test -z "$(git status --porcelain)"

          # lint code
          make lint
          git status
          git diff
          test -z "$(git status --porcelain)"

      - name: Test
        run: make test
